 <!--О нас-->
 <section class="about">
    <div class="container about-us"> 
       <div>
      <ul class="about-images">
        <li class="about-image">
          <img  src="" alt="Барбершоп работы" >
        </li>
        <li class="about-image">
          <img  src="" alt="Барбершоп работы" >
        </li>
      </ul>
    </div>
    <div class="about-content">
      <span class="sub-title about-us">О НАС</span>
      <h2 class="about-title about-us ">Лучший Барбершоп <br> твоего города</h2>
      <ul>
        <li>
          <p class="slogan about-us">Если ты хочешь добавить в свой образ больше уверенности – тебе точно 
            к нам.</p>
        </li>
        <li>
            <p class="article about-us">Мы команда, которая никогда 
              не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда 
              с клиентами "на одной волне". Поэтому, 
              мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
        </li>
      </ul>
      <a href="" class="button-order">онлайн-запись</a>
    </div>
    </div>
  </section>
      
  