<section class="section">
    <h2 class="features-main-title">Features</h2>
    <div class="container features-container">
        <div class="features-text-container">
            <p class="sub-title features">старая традиционная школа</p>
            <h3 class="features-title">
                Почему приходят <br> именно к нам?
            </h3>
            <p class="features-text">
                О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.
            </p>
        </div>
        <ul class="features-list">
            <li class="features-list-item">
                <p class="features-number">600<span class="features-plus">+</span></p>
                <p class="features-desc">
                    Довольных клиентов в день
                </p>
            </li>
            <li class="features-list-item">
                <p class="features-number">50<span class="features-plus">+</span></p>
                <p class="features-desc">
                    Наград за отличный сервис
                </p>
            </li>
            <li class="features-list-item">
                <p class="features-number">20<span class="features-plus">+</span></p>
                <p class="features-desc">
                    Лучших мастеров Киева
                </p>
            </li>
            <li class="features-list-item">
                <p class="features-number">100<span class="features-plus">+</span></p>
                <p class="features-desc">
                    Подарков постоянным клиентам
                </p>
            </li>
        </ul>
    </div>
</section>