<section class="prices section" id="prices">
  <div class="container">
    <p class="sub-title">Проведи время в компании лучших мастеров</p>
    <h2 class="title" id="prices">Услуги и цены</h2>
    <div class="services-prices">
      <ul class="price-list">
        <li class="left-item">
          <ul>
            <li class="item">
              <span>Мужская стрижка</span>
              <div class="underline"></div>
              <span>от 300 грн.</span>
            </li>
            <li class="item">
              <span>Стрижка бороды</span>
              <div class="underline"></div>
              <span>от 200 грн.</span>
            </li>
            <li class="item">
              <span>Стрижка усов</span>
              <div class="underline"></div>
              <span>от 200 грн.</span>
            </li>
            <li class="item">
              <span>Бритье опасной бритвой</span>
              <div class="underline"></div>
              <span>от 200 грн.</span>
            </li>
          </ul>
        </li>
        <li class="right-item">
          <ul>
            <li class="item">
              <span>Cтрижка у стажера</span>
              <div class="underline"></div>
              <span>от 50 грн.</span>
            </li>
            <li class="item">
              <span>Стрижка под насадку</span>
              <div class="underline"></div>
              <span>от 200 грн.</span>
            </li>
            <li class="item">
              <span>Детская стрижка (до 12 лет)</span>
              <div class="underline"></div>
              <span>от 300 грн.</span>
            </li>
            <li class="item">
              <span>Камуфлирование седины</span>
              <div class="underline"></div>
              <span>от 200 грн.</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="order-box">
      <a class="order-link" href="#order-form" data-modal-open>онлайн-запись</a>
    </div>
  </div>
</section>